#Microsoft Entra ID App Registration Credentials
TENANT_ID=your_tenant_id_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

#Enable Entra Licensed Features
#Without an Entra P1/P2 license, the attempt to fetch user in api.py data will generate errors and warnings
#Set ENABLE_ENTRA_LICENSED_FEATURES to False to bypass Attempt 1 in api.py and supress errors and warning
#Set ENABLE_ENTRA_LICENSED_FEATURES to True to use Entra Licensed Features
#Note: the variable is storing a string "True" or "False". When the variable is retrieved, a comparison is made which
#      will evaludate to a boolean True or False. Case does not matter as the comparison is made using .lower()
ENABLE_ENTRA_LICENSED_FEATURES=False